.mainContainer {
  margin-left: 100px;
  margin-right: 100px;
}

/* Service Filter  */
.serviceFiltersContainer {
  /* border: green 1px dotted; */
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.serviceFilters {
  /* border: rgb(253, 36, 36) 3px solid; */
  background-color: rgb(255, 205, 205);
  color: rgb(253, 36, 36);
  border-radius: 10px;
  margin-right: 15px;
  padding: 3px;
  justify-content: center;
  padding-left: 20px;
}

.XcircleIcon {
  color: rgb(253, 36, 36);
  width: 20px;
  position: relative;
  left: 17px;
  top: -17px;
}

/* CATEGORY TILES */

.gridContainerCategory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 30px;
}

.categoryTile {
  /* border: grey 1px dotted; */
  font-size: 15px;
  background-color: rgb(240, 222, 200);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 130px;
}

.categoryImg {
  width: 70px;
}

/* SERVICE TILES */

.serviceImg {
  width: 70px;
}

.gridContainerServices {
  /* border: red dotted 1px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 30px;
}

.serviceTile {
  /* border: grey 1px dotted; */
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(240, 222, 200);
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 100px;
}

/* SERVICE SELLERS */

.serviceSellersMainContainer {
  /* border: red dotted 1px; */
  margin-top: 10px;
}

.serviceSellerTile {
  border: grey 1px solid;
  font-size: 15px;
  background-color: rgb(243, 245, 243);
  border-radius: 10px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 200px;

  height: 400px;
  flex-grow: 0;
}

.gridContainerServiceSellers {
  /* border: red dotted 1px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 30px;
}

.serviceName {
  color: red;
  font-weight: 700;
}

.sellerServiceName {
  color: blue;
}

.serviceSellerDesc {
  color: grey;
}

.serviceSellerPrice {
  font-weight: 600;
}

/* This is the price tag on each service's tile  */
.addToCart {
  transform: rotate(-30deg);
  position: relative;
  left: -20px;
  top: -5px;
}

.serviceSellerImg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
