.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  background: white;
  top: 25vh;
  bottom: 25vh;
  left: 25%;
  width: 50%;
  z-index: 100;
  overflow: hidden;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 206px;
  margin: 5px 0px;
}

.formTitles {
  font-weight: bold;
}
