.header {
  width: 100%;
}
.logoHomePage {
  margin-left: 60px;
}

.navbar {
  height: 6rem;
  background-color: rgb(0, 21, 79);
  border-radius: 20px;
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar nav {
  height: 100%;
  width: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid whitesmoke;
}

.button {
  margin: 0px 10px;
  width: 75px;
}

.countCartItems {
  position: relative;
  left: 17px;
  background-color: red;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  font-size: 15px;
  line-height: normal;
  font-weight: bold;
  text-align: center;
}
