@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  /* font-family: "Oxygen", sans-serif; */
  font-family: "Geologica", sans-serif;
}

body {
  margin-right: 3rem;
  margin-left: 3rem;
  font-family: "Geologica", sans-serif;
  background-color: whitesmoke;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
